SpoorthiShoppingCart/SpoorthiShoppingCart.Web/Service References/ProductServiceProxyV2/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProductWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProductWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataContract" nillable="true" type="tns:ArrayOfProductDataContract" />
  <xs:complexType name="ProductDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discontinued" type="xs:int" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityPerUnit" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" type="xs:double" />
      <xs:element minOccurs="0" name="UnitsInstock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataContract" nillable="true" type="tns:ProductDataContract" />
</xs:schema>